In this week of course, is presented the basic needs in machine learning.
We look at Jupyter as enviroment to work with python. Also looks at:
 
 * Pandas -- Framework to work with data in tabular way;
 * Matplotlib and Seaborn -- To create graphics and statistics analyses

Nesta semana do curso, é apresentado o básico necessário para machine learning.
Nós vimos o Jupyter como ambiente de trabalho com python. Também vimos:
 * Pandas -- Framework para trabalhar com dados tabulares;
 * Matplotlib e Seaborn -- Para criar gráficos e fazer análises estatísticas

 # Studing code (Estudando os códigos)
 
 * Understaning Series in Pandas. Series are 1-Dimension Vector
 * Entendendo Series em Pandas. Series são vetores de uma única dimensão.

In [10]:
import pandas as pd

step_data = [3620, 7891, 9761, 3907, 4338, 5373]

In [16]:
step_counts = pd.Series(step_data, name='steps')

print(step_counts)

0    3620
1    7891
2    9761
3    3907
4    4338
5    5373
Name: steps, dtype: int64

### Alter the data index of Series (Alterando o indice da Sereies)

In [27]:
step_counts.index = pd.date_range('20171229', periods=step_counts.size)
print(step_counts)

2017-12-29    3620
2017-12-30    7891
2017-12-31    9761
2018-01-01    3907
2018-01-02    4338
2018-01-03    5373
Freq: D, Name: steps, dtype: int64

### Ways to print Series data (Formas de apresentar os dados das Series)
 * Like a dictionary (Como um dicionário -- Hash)
 * With index (Com indice)
 * Multiple values (Vários valores)
 * Data type (Tipo do dado)
 * Converting data type (Conversão de tipo de dado)
 * By range (Por faixa)

In [40]:
import numpy as np;

print("\nHash.:\n",step_counts['2017-12-31']);
print("\nIndex:\n", step_counts[2]);
print("\nMult. Values:\n", step_counts['2017-12']);
print("\nData Type:\n", step_counts.dtypes);
print("\nConverting:");
step_counts = step_counts.astype(np.float);
print("\nNew Data Type:\n", step_counts.dtypes);
print("\nBy range:\n", step_counts[1:3])

Hash.:
 9761.0

Index:
 9761.0

Mult. Values:
 2017-12-29    3620.0
2017-12-30    7891.0
2017-12-31    9761.0
Freq: D, Name: steps, dtype: float64

Data Type:
 float64

Converting:

New Data Type:
 float64

By range:
 2017-12-30    7891.0
2017-12-31    9761.0
Freq: D, Name: steps, dtype: float64

### Creating Dataframe in Pandas by Series (Criando Dataframe no Pandas usando Series)
In this snippet code a new vector is created, `cycling_data`. Then, it is joined with `step_data`, doing a list of tuples. This list is used to create the dataframe.

Neste trecho de código é criado um novo vetor `cycling_data`. Então é feito uma junção com `step_data`, fazendo uma lista de tuplas. Esta lista é usada para criar o dataframe.

In [44]:
cycling_data = [10.7, 0, None, 2.4, 15.3, 10.9, 0, None]
zipped = zip(step_data,cycling_data)
joined_data = list(zipped)

activity_df = pd.DataFrame(joined_data)

print(activity_df)

      0     1
0  3620  10.7
1  7891   0.0
2  9761   NaN
3  3907   2.4
4  4338  15.3
5  5373  10.9

### Reindexing dataframe and changing column names (Reindexando as linhas e alterando os nomes das colunas)

Simulating exercises done walking and cycling in different days.

Simulando exercícios feitos com caminhadas e ciclismo em diferentes dias.

In [50]:
activity_df = pd.DataFrame(joined_data, index=pd.date_range('20171229', periods=6), columns=['Walking','Cycling']);

print(activity_df)

            Walking  Cycling
2017-12-29     3620     10.7
2017-12-30     7891      0.0
2017-12-31     9761      NaN
2018-01-01     3907      2.4
2018-01-02     4338     15.3
2018-01-03     5373     10.9

### Ways to print Dataframe data (Formas de apresentar os dados das Dataframe)
 * By index name (pelo nome do indice)
 * By number index (pelo indice numérico)
 * Print by Column (Imprimir uma coluna)
 * Print by Range (Imprimir por faixa)

In [60]:
print("Printing by index name row:")
print(activity_df.loc['2017-12-31'])
print()

print("Printing by index numeric row:")
print(activity_df.iloc[-4])
print(activity_df.iloc[2])
print()

print("Printing column as Hash:")
print(activity_df['Walking'])
print()

print("Printing column as Property:")
print(activity_df.Walking)
print()

print("Printing by range (first 2 row, first column):")
print(activity_df.iloc[:2,0])
print()

Printing by index name row:
Walking    9761.0
Cycling       NaN
Name: 2017-12-31 00:00:00, dtype: float64

Printing by index numeric row:
Walking    9761.0
Cycling       NaN
Name: 2017-12-31 00:00:00, dtype: float64
Walking    9761.0
Cycling       NaN
Name: 2017-12-31 00:00:00, dtype: float64

Printing column as Hash:
2017-12-29    3620
2017-12-30    7891
2017-12-31    9761
2018-01-01    3907
2018-01-02    4338
2018-01-03    5373
Freq: D, Name: Walking, dtype: int64

Printing column as Property:
2017-12-29    3620
2017-12-30    7891
2017-12-31    9761
2018-01-01    3907
2018-01-02    4338
2018-01-03    5373
Freq: D, Name: Walking, dtype: int64

Printing by range (first 2 row, first column):
2017-12-29    3620
2017-12-30    7891
Freq: D, Name: Walking, dtype: int64